.album {
    height: 100%;
    display: flex;
    flex-direction: column;

    #content {
        padding-top: 1em;
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
        overflow-y: auto;
        padding-bottom: 5em;

        table {
            min-width: 60%;
            margin: 0 auto;
            padding-bottom: 3em;

            .padded {
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
        }
    }
}

@media (max-width: 768px) {
    #content {
        width: 100% !important;
    }
}
